/* CSS Reset / Default Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}

